* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

body {
  font-family: 'Trebuchet MS', Arial, Tahoma;
  background-color: #4d4d4d;
  font-size: 17px;
}

#container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  overflow: auto;
}
