body {
  font-family: "Trebuchet MS", Arial, Tahoma;
  background-color: #4d4d4d;
  font-size: 17px;
}

#container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  overflow: auto;
}

#logo {
  float: left;
  background-position: left top;
  background-repeat: no-repeat;
  width: 217px;
  height: 58px;
}

#logo a {
  color: transparent;
}

span#counter {
  color: #FCDF79;
}

#feedback {
  float: right;
}

#feedback .links {
  float: right;
}
#feedback a {
  color: #FCDF79;
}

#feedback a:hover {
  color: #fff9e6;
}

.clear {
  clear: both;
}